.page {
  padding: 30px;
}

.page-heading {
  font-size: 42px;
  font-weight: 500;
  font-family: cursive;
  text-align: center;
}

.page-content {
  padding: 20px 30px;
}

.m-1 {
  margin-top: 5px;
}

.ml-4 {
  margin-left: 20px !important;
}
