<div class="page">
  <div class="page-heading">Test Driven Developement Project</div>

  <div class="page-content">
    <div class="intro">
      Test-driven development (TDD) is a software development process that relies on the repetition of
      a very short development cycle: requirements are turned into very specific test cases, then the code is improved
      so that the tests pass.
    </div>
    <div class="question">Why we use angular for Test Driven Development?</div>
    <div class="keypoints">
      In this project, I’m not trying to convince you that writing tests is important. I’m over that point already. What
      I do believe is working on a solution in a very structured way leads to the best results. Let me show you how to
      accomplish this. I’ll show you how I do this by applying the software-development process known as test-driven
      development (TDD). Let’s start with the definition, and after that, I’ll show you how to write code like this in
      Angular, using Jasmine as our testing framework.
    </div>
    <div class="question">Why Test Driven Development for Testing ?</div>
    <div class="keypoints">
      Basically when we write code this way it all comes down to this: We write a test, and it fails because it’s not
      implemented yet. We then write just enough code to make this test pass. When the test passes, we check if this is
      satisfiable code. If it’s not, we clean it up using the refactor step.
      <br />
      <br />
      After the first iteration, we’re 100% certain we got exactly what we want. Even more, this stays the case when we
      continue this way. Every test we wrote in the past will be something we’re 100% certain about.
      <br />
      <br />
      Want to check if anything we wrote in the past still works? Just run the tests and they got your back.
      <br />
      <br />
      As an individual, you might think, “I know what I write, and I’m certain it works.” However, when you work at a
      bigger organisation, chances increase that you’re assuming something works when it doesn’t. Tests give you and the
      team something to fall back on in the case something does go wrong — i.e. during an external package upgrade or a
      large refactoring (or it could even be a missing feature).
    </div>
  </div>
</div>
